001_medium/
data/*
notebooks/Example.ipynb
notebooks/Hierarchical Clustering.ipynb
notebooks/Pairwise Similarities.ipynb
notebooks/Text Loading.ipynb
notebooks/Text Representation.ipynb
notebooks/Milestone 1.ipynb
notebooks/EDA.ipynb
notebooks/at_jobs.csv
notebooks/czech_jobs.csv
notebooks/latvia_jobs.csv
Article Practices/
literature/
001_medium/
2021-07 001 LinkedIn job ads - medium.zip
DS Lab 1 - P11 S1 Task.txt
DS Lab 1 - Milestone 1 - Elshan Gadimov OV7MIK.zip
DS Lab 1 - Milestone 1 - Elshan Gadimov OV7MIK
data.zip